




























































@{ ViewBag.Title = "pending";
    Layout = null;
    var redirectUrl = ViewBag.RedirectUrl;

    Eagles.LMS.BLL.UnitOfWork db = new Eagles.LMS.BLL.UnitOfWork();

}
<!DOCTYPE html>
<html lang="en">
<!-- begin::Head -->
<head>
    <meta charset="utf-8" />
    <title>@siteInfo.SiteName | Sign Up</title>
    <link rel="icon" href="~/StaticFiles/img/ez2.png">
    <meta name="description" content="Login page example">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap" rel="stylesheet">
    <!--begin::Page Custom Styles(used by this page) -->
    <!--end::Page Custom Styles -->
    <!--begin::Global Theme Styles(used by all pages) -->
    <link href="~/assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/demo/demo8/base/style.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/snippets/custom/login/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/snippets/custom/login/login-v2.demo8.css" rel="stylesheet" />
    <link href="~/StaticFiles/css/NewRegister.css" rel="stylesheet" />
    <!--end::Global Theme Styles -->
    <!--begin::Layout Skins(used by all pages) -->
    <!--end::Layout Skins -->

    <link href="https://fonts.googleapis.com/css?family=Cairo:300,400,700,900" rel="stylesheet">


    <link href="https://fonts.googleapis.com/css?family=Cairo|Tajawal&display=swap" rel="stylesheet">

</head>
<!-- end::Head -->
<!-- begin::Body -->
<body class="">




    <div class="pendinpage">


        <div class="container">

            <div class="stephusscont">
                <div class="finesh">
                    <div class="imges">

                        @*<img src="~/StaticFiles/img/rocket 2.png" />*@
                        <img src="~/StaticFiles/img/123-1239921_on-site-collections-checks-simbolo.png" />
                        @*<img src="~/StaticFiles/img/2-21183_green-check-mark-transparent-background-check-animated-gif.png" />*@
                    </div>
                    <div class="details">
                        <h2>تهانينا!</h2>
                        <p>Your Form Is Under Pending Now , It Will Activate In Less Than 24-hr.</p>
                        <p>النموذج الخاص بك قيد الانتظار الآن ، وسيتم تنشيطه في أقل من 24 ساعة.</p>

                        <div class="linkkdash">
                            <a href="/" class="godash">Back to Home </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <!-- begin::Global Config(global config for global JS sciprts) -->
    <!-- end::Global Config -->
    <!--begin::Global Theme Bundle(used by all pages) -->
    <script src="~/assets/snippets/custom/login/jquery.min.js"></script>
    <script src="~/assets/snippets/custom/login/main.js"></script>
    <script src="~/assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
    <script src="~/assets/demo/demo8/base/scripts.bundle.js" type="text/javascript"></script>



</body>
<!-- end::Body -->
</html>