
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admission/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0 font-size-18">Edit Type</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="/Admission/types">Home</a></li>
                        <li class="breadcrumb-item active">Edit Type</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->
    <div class="row mb-5">

        <div class="col-12">
            <div class="card mb-5">
                <div class="card-body">
                    <div class="row">





                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row">

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="mb-3">
                                        <label class="form-label"> Type Name </label>
                                        <input class="form-control" type="text" placeholder="Type Name">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="mb-3">
                                        <label class="form-label">Category</label>
                                        <select class="form-control select2">
                                            <option>Select</option>

                                            <option value="AK">Alaska</option>
                                            <option value="HI">Hawaii</option>

                                            <option value="CA">California</option>
                                            <option value="NV">Nevada</option>
                                            <option value="OR">Oregon</option>
                                            <option value="WA">Washington</option>

                                            <option value="AZ">Arizona</option>
                                            <option value="CO">Colorado</option>
                                            <option value="ID">Idaho</option>
                                            <option value="MT">Montana</option>
                                            <option value="NE">Nebraska</option>
                                            <option value="NM">New Mexico</option>
                                            <option value="ND">North Dakota</option>
                                            <option value="UT">Utah</option>
                                            <option value="WY">Wyoming</option>

                                        </select>

                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="mb-3">
                                        <label>Date From</label>
                                        <div class="input-group" id="datepicker2">
                                            <input type="text" class="form-control" placeholder="dd M, yyyy"
                                                   data-date-format="dd M, yyyy" data-date-container='#datepicker2' data-provide="datepicker"
                                                   data-date-autoclose="true">

                                            <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                                        </div><!-- input-group -->
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="mb-3">
                                        <label>Date To</label>
                                        <div class="input-group" id="datepicker1">
                                            <input type="text" class="form-control" placeholder="dd M, yyyy"
                                                   data-date-format="dd M, yyyy" data-date-container='#datepicker1' data-provide="datepicker"
                                                   data-date-autoclose="true">

                                            <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                                        </div><!-- input-group -->
                                    </div>
                                </div>



                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div> <!-- end col -->


        <div class="col-lg-12 col-md-12">
            <div class="card mb-5">
                <div class="card-body">
                    <div class="foooterbuttons">
                        <button type="submit" class="btn btn-success waves-effect waves-light">
                            <i class="bx bx-check-double font-size-16 align-middle me-2"></i> @Resources.Global.Save
                        </button>
                        <a href="/Admission/News" class="btn btn-danger waves-effect waves-light">
                            <i class="fa fa-backspace back font-size-16 align-middle me-2"></i> @Resources.Global.Back
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

