
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admission/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0 font-size-18">Add Car</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="/Admission/Cars">Home</a></li>
                        <li class="breadcrumb-item active">Add Car</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->
    <div class="row mb-5">

        <div class="col-12">
            <div class="card mb-5">
                <div class="card-body">
                    <div class="row">





                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row">

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="mb-3">
                                        <label class="form-label"> Type Name </label>
                                        <input class="form-control" type="text" placeholder="Type Name">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="mb-3">
                                        <label class="form-label"> Type Name </label>
                                        <input class="form-control" type="text" placeholder="Type Name">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="mb-3">
                                        <label class="form-label"> Type Name </label>
                                        <input class="form-control" type="text" placeholder="Type Name">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="mb-3">
                                        <label class="form-label"> Type Name </label>
                                        <input class="form-control" type="text" placeholder="Type Name">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="mb-3">
                                        <label class="form-label">Category</label>
                                        <select class="form-control select2">
                                            <option>Select</option>

                                            <option value="AK">Alaska</option>
                                            <option value="HI">Hawaii</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="mb-3">
                                        <label class="form-label">Category</label>
                                        <select class="form-control select2">
                                            <option>Select</option>

                                            <option value="AK">Alaska</option>
                                            <option value="HI">Hawaii</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="mb-3">
                                        <label class="form-label">Category</label>
                                        <select class="form-control select2">
                                            <option>Select</option>

                                            <option value="AK">Alaska</option>
                                            <option value="HI">Hawaii</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="mb-3">
                                        <label class="form-label">Category</label>
                                        <select class="form-control select2">
                                            <option>Select</option>

                                            <option value="AK">Alaska</option>
                                            <option value="HI">Hawaii</option>
                                        </select>

                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="mb-3">
                                        <label>Date From</label>
                                        <div class="input-group" id="datepicker2">
                                            <input type="text" class="form-control" placeholder="dd M, yyyy"
                                                   data-date-format="dd M, yyyy" data-date-container='#datepicker2' data-provide="datepicker"
                                                   data-date-autoclose="true">

                                            <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                                        </div><!-- input-group -->
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="mb-3">
                                        <label>Date To</label>
                                        <div class="input-group" id="datepicker1">
                                            <input type="text" class="form-control" placeholder="dd M, yyyy"
                                                   data-date-format="dd M, yyyy" data-date-container='#datepicker1' data-provide="datepicker"
                                                   data-date-autoclose="true">

                                            <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                                        </div><!-- input-group -->
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group col-sm-12 fl-r">
                                        <table class="table table-striped- table-bordered table-hover table-checkable display res" id="tblCatCreate">
                                            <tbody>
                                                <tr ng-cloak ng-repeat="property in CategoryPropeties track by $index">
                                                    <td ng-if="property.DataType==0">
                                                        <div class=" col-sm-12 fl-r mt-4 ">
                                                            <div class="kt-input-icon kt-input-icon--left">
                                                                <input ng-model="property.PropertyName" name="PropertyName{{$index + 1}}" type="text" class="form-control circle" id="{{$index}}">
                                                                <span class="placeholder">   {{propName[$index]}} </span>
                                                                <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                                                    <span><i class="la la-barcode"></i></span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <input type="hidden" ng-model="property.Id" placeholder="Price">

                                                    </td>

                                                    <td ng-if="property.DataType==1">
                                                        <div class=" col-sm-12 fl-r mt-4 ">
                                                            <div class="kt-input-icon kt-input-icon--left">
                                                                <input ng-model="property.PropertyName" name="PropertyName{{$index + 1}}" type="number" class="form-control circle" id="{{$index}}">
                                                                <span class="placeholder">   {{propName[$index]}} </span>
                                                                <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                                                    <span><i class="la la-barcode"></i></span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <input type="hidden" ng-model="property.Id" placeholder="Price">
                                                    </td>
                                                    <td ng-if="property.DataType==2">
                                                        <div class=" col-sm-12 fl-r mt-4 ">
                                                            <div class="kt-input-icon kt-input-icon--left">
                                                                @*<input ng-model="property.PropertyName" name="PropertyName{{$index + 1}}" type="checkbox" class=" circle" id="{{$index}}">
                                                                    <span class="placeholder">    </span>*@
                                                                <div class="chiller_cb" style=" width: 130px;">
                                                                    <label for="{{$index}}" style="width: auto;height: auto;margin: 0;padding-right: 4rem;">{{propName[$index]}}:</label>
                                                                    <input ng-model="property.PropertyName" class="form-control circle count" id="{{$index}}" name="PropertyName{{$index + 1}}" type="checkbox">
                                                                    <span style="right: 30px;"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <input type="hidden" ng-model="property.Id" placeholder="Price">
                                                    </td>

                                                    <td ng-if="property.DataType==3">

                                                        <div class=" col-sm-12 fl-r mt-4">
                                                            <div class="kt-input-icon kt-input-icon--left">
                                                                <textarea ng-model="property.PropertyName" name="PropertyName{{$index + 1}}" type="text" class="form-control circle" id="{{$index}}"></textarea>
                                                                <span class="placeholder">   {{propName[$index]}} </span>
                                                                <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                                                    <span><i class="la la-barcode"></i></span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <input type="hidden" ng-model="property.Id" placeholder="Price">

                                                    </td>

                                                    <td ng-if="property.DataType==4">

                                                        <div class=" col-sm-12 fl-r mt-4">
                                                            <div class="kt-input-icon kt-input-icon--left">
                                                                <input ng-model="property.PropertyName" name="PropertyName{{$index + 1}}" type="date" class="form-control circle" id="{{$index}}">

                                                                <span class="placeholder">   {{propName[$index]}} </span>
                                                                <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                                                    <span><i class="la la-barcode"></i></span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <input type="hidden" ng-model="property.Id" placeholder="Price">

                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <table class="table table-striped- table-bordered table-hover table-checkable display res" id="tblCatEdit">


                                        <tbody>


                                            <tr ng-cloak ng-repeat="property in CategoryPropetiesEdit track by $index">

                                                <td ng-if="property.DataType==0">
                                                    {{property.PropertyName}}:  <div class="kt-input-icon kt-input-icon--left">
                                                        <input ng-model="property.PropertyNameValue" name="PropertyName{{$index + 1}}" type="text" class="form-control circle" id="{{$index}}">
                                                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                                            <span><i class="la la-barcode"></i></span>
                                                        </span>
                                                    </div>
                                                    <input type="hidden" ng-model="property.Id" placeholder="Price">
                                                    @*<input type="text" ng-model="property.PropertyName" name="PropertyName{{$index + 1}}" placeholder="property.PropertyName" id="{{$index}}">*@
                                                </td>
                                                <td ng-if="property.DataType==1">
                                                    {{property.PropertyName}}: <div class="kt-input-icon kt-input-icon--left">
                                                        <input ng-model="property.PropertyNameValue" name="PropertyName{{$index + 1}}" type="number" class="form-control circle" id="{{$index}}">
                                                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                                            <span><i class="la la-barcode"></i></span>
                                                        </span>
                                                    </div>
                                                </td>
                                                <td ng-if="property.DataType==2">
                                                    {{property.PropertyName}}: <div class="">
                                                        <div class="kt-input-icon kt-input-icon--left">
                                                            <input style="cursor:pointer" type="checkbox" ng-model="property.PropertyNameBoolean" class="form-control circle count" />
                                                        </div>
                                                    </div>
                                                    @*<span>{{property.PropertyName}}</span>  <input type="checkbox" ng-model="property.IsRequired" />*@
                                                </td>
                                                <td ng-if="property.DataType==3">
                                                    <div class="form-group col-sm-12 fl-r">
                                                        <div class="kt-input-icon kt-input-icon--left">
                                                            <textarea ng-model="property.PropertyNameValue" name="PropertyName{{$index + 1}}" type="text" class="form-control circle" id="{{$index}}"></textarea>
                                                            <span class="placeholder">   {{::propName[$index]}} </span>
                                                            <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                                                <span><i class="la la-barcode"></i></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <input type="hidden" ng-model="property.Id" placeholder="Price">
                                                </td>
                                                <td ng-if="property.DataType==4">
                                                    {{property.PropertyName}}:  <div class="kt-input-icon kt-input-icon--left">
                                                        <input ng-model="property.PropertyNameValue" name="PropertyName{{$index + 1}}" value="{{property.PropertyNameValue}}" type="date" class="form-control circle" id="{{$index}}">
                                                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                                            <span><i class="la la-barcode"></i></span>
                                                        </span>
                                                    </div>
                                                    <input type="hidden" ng-model="property.Id" placeholder="Price">
                                                    @*<input type="text" ng-model="property.PropertyName" name="PropertyName{{$index + 1}}" placeholder="property.PropertyName" id="{{$index}}">*@
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>


                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div> <!-- end col -->


        <div class="col-lg-12 col-md-12">
            <div class="card mb-5">
                <div class="card-body">
                    <div class="foooterbuttons">
                        <button ng-click="CreateItem()" type="submit" class="btn btn-success waves-effect waves-light">
                            <i class="bx bx-check-double font-size-16 align-middle me-2"></i> @Resources.Global.Save
                        </button>
                        <a href="/Admission/Cars" class="btn btn-danger waves-effect waves-light">
                            <i class="fa fa-backspace back font-size-16 align-middle me-2"></i> @Resources.Global.Back
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>





@section EndBody{
    <script src="~/assets_NewDash/Angular_Services/Cars/Services/ItemsFactory.js"></script>
    <script src="~/assets_NewDash/Angular_Services/Stores/Services/StoresFactory.js"></script>
    <script src="~/assets_NewDash/Angular_Services/Cars/Controllers/ItemForCrudController.js"></script>
}