<div class="SeearchListItem">
    <ul>
        <li>
            <div class="ItemSearch">
                <span>FWD</span>
                <button class="Remove"><i class="bx bx-x"></i></button>
            </div>
        </li>
        <li>
            <div class="ItemSearch">
                <span>Power (kW) To 410 kW (557 BHP)</span>
                <button class="Remove"><i class="bx bx-x"></i></button>
            </div>
        </li>
        <li>
            <div class="ItemSearch">
                <span>Comfort</span>
                <button class="Remove"><i class="bx bx-x"></i></button>
            </div>
        </li>
        <li>
            <div class="ItemSearch">
                <span>Price $ From 10000</span>
                <button class="Remove"><i class="bx bx-x"></i></button>
            </div>
        </li>


        <li>
            <div class="SearchClear">

                <button class="ClearBTN"><i class="bx bx-trash-alt"></i> <span>Reset all filters</span></button>
            </div>
        </li>
    </ul>
</div>
