
@{
    ViewBag.Title = "Equipment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section EndHeader{

    <style>
        .otherheader .otherhedcont .otheruihead li.Active4 a {
            color: #000;
            background: #e7e9ea;
        }

        .otherheader .otherhedcont .otheruihead li.Active4:hover a {
            color: #000;
        }

        .checkbox label {
            color: #4c4c4c;
            font-weight: 400;
            font-size: 13px;
            text-transform: capitalize;
        }
    </style>
}


<div class="TapsCars" style="">
    <div class="container">
        <div class="TapsCarCont">

            <div class="SeearchListItem">
                <ul>
                    <li>
                        <div class="ItemSearch">
                            <span>FWD</span>
                            <button class="Remove"><i class="bx bx-x"></i></button>
                        </div>
                    </li>
                    <li>
                        <div class="ItemSearch">
                            <span>Power (kW) To 410 kW (557 BHP)</span>
                            <button class="Remove"><i class="bx bx-x"></i></button>
                        </div>
                    </li>
                    <li>
                        <div class="ItemSearch">
                            <span>Comfort</span>
                            <button class="Remove"><i class="bx bx-x"></i></button>
                        </div>
                    </li>
                    <li>
                        <div class="ItemSearch">
                            <span>Price $ From 10000</span>
                            <button class="Remove"><i class="bx bx-x"></i></button>
                        </div>
                    </li>


                    <li>
                        <div class="SearchClear">

                            <button class="ClearBTN"><i class="bx bx-trash-alt"></i> <span>Reset all filters</span></button>
                        </div>
                    </li>
                </ul>
            </div>


            <div class="AudiSearchCar">
                <h2>Audi Used Cars by Equipment</h2>
                <p>
                    Here you can find the range of Audi demonstrator and pre-owned stock, including certified Audi Approved <span>:plus </span>vehicles, and make inquiry.
                </p>

                <div class="linksBenifits">
                    <a href="#">How to order online</a>
                </div>
            </div>


            <div class="shop-single" style="">
                <div class="product-details">
                    <div class="product-info-tabs">
                        <div class="prod-tabs tabs-box">
                            <ul class="tab-btns tab-buttons clearfix">
                                <li data-tab="#prod-details" class="tab-btn active-btn">Exterior</li>
                                <li data-tab="#prod-reviews" class="tab-btn ">Interior</li>
                            </ul>

                            <div class="tabs-content">

                                <!--Tab-->
                                <div class="tab active-tab" id="prod-details">
                                    <div class="Drivetrain">
                                        <div class="container">
                                            <div class="DrivetrainCobent">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <div class="Title">
                                                            <h2>Assistance systems</h2>
                                                        </div>
                                                        <div class="row">
                                                            @*<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                <div class="drivenationItem">

                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox" value="s">
                                                                            <span class="cr"> <i class="cr-icon fas fa-check"></i></span>
                                                                            Adaptive cruise control <span class="CountCar">(1)</span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>*@
                                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                <div class="drivenationItem">

                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox" value="s">
                                                                            <span class="cr"> <i class="cr-icon fas fa-check"></i></span>
                                                                            Cruise control <span class="CountCar">(1)</span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                <div class="drivenationItem">

                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox" value="s">
                                                                            <span class="cr"> <i class="cr-icon fas fa-check"></i></span>
                                                                            Hill descent control <span class="CountCar">(1)</span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            @*<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                <div class="drivenationItem">

                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox" value="s">
                                                                            <span class="cr"> <i class="cr-icon fas fa-check"></i></span>
                                                                            High beam assist <span class="CountCar">(1)</span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>*@

                                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                <div class="drivenationItem">

                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox" value="s">
                                                                            <span class="cr"> <i class="cr-icon fas fa-check"></i></span>
                                                                            Hill hold assist <span class="CountCar">(1)</span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                <div class="drivenationItem">

                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox" value="s">
                                                                            <span class="cr"> <i class="cr-icon fas fa-check"></i></span>
                                                                            Head-up display <span class="CountCar">(1)</span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                <div class="drivenationItem">

                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox" value="s">
                                                                            <span class="cr"> <i class="cr-icon fas fa-check"></i></span>
                                                                            Audi active lane assist <span class="CountCar">(1)</span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            @*<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                <div class="drivenationItem">

                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox" value="s">
                                                                            <span class="cr"> <i class="cr-icon fas fa-check"></i></span>
                                                                            Night vision <span class="CountCar">(1)</span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>*@
                                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                <div class="drivenationItem">

                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox" value="s">
                                                                            <span class="cr"> <i class="cr-icon fas fa-check"></i></span>
                                                                            Rear view camera <span class="CountCar">(1)</span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                <div class="drivenationItem">

                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox" value="s">
                                                                            <span class="cr"> <i class="cr-icon fas fa-check"></i></span>
                                                                            Front and rear parking sensors <span class="CountCar">(1)</span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                <div class="drivenationItem">

                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox" value="s">
                                                                            <span class="cr"> <i class="cr-icon fas fa-check"></i></span>
                                                                            Rear parking sensors <span class="CountCar">(1)</span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                <div class="drivenationItem">

                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox" value="s">
                                                                            <span class="cr"> <i class="cr-icon fas fa-check"></i></span>
                                                                            Park assist <span class="CountCar">(1)</span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                <div class="drivenationItem">

                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox" value="s">
                                                                            <span class="cr"> <i class="cr-icon fas fa-check"></i></span>
                                                                            Pre-sense <span class="CountCar">(1)</span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                <div class="drivenationItem">

                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox" value="s">
                                                                            <span class="cr"> <i class="cr-icon fas fa-check"></i></span>
                                                                            Audi side assist <span class="CountCar">(1)</span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <div class="Title">
                                                            <h2>Headlights</h2>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                <div class="drivenationItem">

                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox" value="s">
                                                                            <span class="cr"> <i class="cr-icon fas fa-check"></i></span>
                                                                            LED <span class="CountCar">(1)</span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            @*<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                <div class="drivenationItem">

                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox" value="s">
                                                                            <span class="cr"> <i class="cr-icon fas fa-check"></i></span>
                                                                            LED headlights with Audi laser light <span class="CountCar">(1)</span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>*@
                                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                                <div class="drivenationItem">

                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox" value="s">
                                                                            <span class="cr"> <i class="cr-icon fas fa-check"></i></span>
                                                                            Matrix LED <span class="CountCar">(1)</span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="tab " id="prod-reviews">
                                    <div class="Drivetrain">
                                        <div class="container">
                                            <div class="DrivetrainCobent">
                                                <div class="row">
                                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                        <div class="Title">
                                                            <h2>Infotainment</h2>
                                                        </div>
                                                        <div class="row">
                                                            @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <div class="drivenationItem">

                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox" value="s">
                                                                            <span class="cr"> <i class="cr-icon fas fa-check"></i></span>
                                                                            Audi music interface <span class="CountCar">(1)</span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>*@
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <div class="drivenationItem">

                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox" value="s">
                                                                            <span class="cr"> <i class="cr-icon fas fa-check"></i></span>
                                                                            Audi smartphone interface <span class="CountCar">(1)</span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <div class="drivenationItem">

                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox" value="s">
                                                                            <span class="cr"> <i class="cr-icon fas fa-check"></i></span>
                                                                            MMI navigation <span class="CountCar">(1)</span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>*@
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                                        <div class="Title">
                                                            <h2>Seats</h2>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <div class="drivenationItem">

                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox" value="s">
                                                                            <span class="cr"> <i class="cr-icon fas fa-check"></i></span>
                                                                            Comfort <span class="CountCar">(1)</span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <div class="drivenationItem">

                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox" value="s">
                                                                            <span class="cr"> <i class="cr-icon fas fa-check"></i></span>
                                                                            Standard <span class="CountCar">(1)</span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <div class="drivenationItem">

                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox" value="s">
                                                                            <span class="cr"> <i class="cr-icon fas fa-check"></i></span>
                                                                            S sport seats <span class="CountCar">(1)</span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <div class="drivenationItem">

                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox" value="s">
                                                                            <span class="cr"> <i class="cr-icon fas fa-check"></i></span>
                                                                            Sport seats <span class="CountCar">(1)</span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>













<div class="NextPage">
    <div class="container">
        <div class="linknextPage">
            <a href="/Home/Colour">Colour</a>
        </div>
    </div>
</div>




<div class="ResultSearch">
    <div class="container">
        <div class="RaeltCont">
            <div class="UperReaselt">
                <div class="row">

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="Resultcount">
                            <h2><span>@*4*@</span>Results</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="SortResBy">
                            <label>Sort By</label>
                            <select>
                                @*<option>Price ascending</option>
                        <option>Price descending </option>*@
                                <option>Model ascending </option>
                                <option>Model descending </option>
                                <option>Distance ascending </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="underResultSec">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="ResultItem">
                            <div class="ResutContItem">
                                <div class="Imagess">
                                    <div class="services-carousel owl-carousel owl-theme">
                                        <div class="slide-item">
                                            <div class="images">
                                                <img src="~/assets_Audi/images/Audiimg/1.png" />
                                            </div>
                                        </div>

                                        <div class="slide-item">
                                            <div class="images">
                                                <img src="~/assets_Audi/images/Audiimg/11.png" />
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="ItemDetails">
                                    <h1>Audi A1 Sportback</h1>
                                    <p>35 TFSI S tronic</p>
                                    <h2>$46,990.00</h2>
                                    <div class="LocationDistination">
                                        <div class="DistnItem">
                                            <div class="icon">
                                                <span><i class="bx bx-map"></i></span>
                                            </div>
                                            <div class="DitinaDetails">
                                                <p>3 km - Dealer <br /> Audi Centre Cairns</p>
                                            </div>

                                        </div>
                                        <div class="DistnItem">
                                            <div class="icon">
                                              
                                                <img src="~/assets_Audi/images/Audiimg/CarImgs/speedo.svg" />
                                                @*<img src="~/assets_Audi/images/Audiimg/CarImgs/speedo.svg" />*@
                                            </div>
                                            <div class="DitinaDetails">
                                                <p>
                                                    2,803 km
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="LinaktElItem">
                                        <ul>
                                            <li>
                                                <a href="#">Explore vehicle</a>
                                            </li>
                                            <li>
                                                <a class="DarkBG" href="#">
                                                    Order now
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="FavCompair">
                                        <ul>
                                            <li>
                                                <a href="#" class="FavCOmItem">
                                                    <div class="icon">
                                                        <span><i class="bx bx-star"></i></span>
                                                    </div>
                                                    <div class="favdisc">
                                                        <p>Add to favourites</p>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="FavCOmItem">
                                                    <div class="icon">
                                                        <span><i class="bx bx-git-compare"></i></span>
                                                    </div>
                                                    <div class="favdisc">
                                                        <p>Add to comparison</p>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="ResultItem">
                            <div class="ResutContItem">
                                <div class="Imagess">
                                    <div class="services-carousel owl-carousel owl-theme">
                                        <div class="slide-item">
                                            <div class="images">
                                                <img src="~/assets_Audi/images/Audiimg/1.png" />
                                            </div>
                                        </div>

                                        <div class="slide-item">
                                            <div class="images">
                                                <img src="~/assets_Audi/images/Audiimg/11.png" />
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="ItemDetails">
                                    <h1>Audi A1 Sportback</h1>
                                    <p>35 TFSI S tronic</p>
                                    <h2>$46,990.00</h2>
                                    <div class="LocationDistination">
                                        <div class="DistnItem">
                                            <div class="icon">
                                                <span><i class="bx bx-map"></i></span>
                                            </div>
                                            <div class="DitinaDetails">
                                                <p>3 km - Dealer <br /> Audi Centre Cairns</p>
                                            </div>

                                        </div>
                                        <div class="DistnItem">
                                            <div class="icon">
                                                <img src="~/assets_Audi/images/Audiimg/CarImgs/speedo.svg" />
                                            </div>
                                            <div class="DitinaDetails">
                                                <p>
                                                    2,803 km
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="LinaktElItem">
                                        <ul>
                                            <li>
                                                <a href="#">Explore vehicle</a>
                                            </li>
                                            <li>
                                                <a class="DarkBG" href="#">
                                                    Order now
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="FavCompair">
                                        <ul>
                                            <li>
                                                <a href="#" class="FavCOmItem">
                                                    <div class="icon">
                                                        <span><i class="bx bx-star"></i></span>
                                                    </div>
                                                    <div class="favdisc">
                                                        <p>Add to favourites</p>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="FavCOmItem">
                                                    <div class="icon">
                                                        <span><i class="bx bx-git-compare"></i></span>
                                                    </div>
                                                    <div class="favdisc">
                                                        <p>Add to comparison</p>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="ResultItem">
                            <div class="ResutContItem">
                                <div class="Imagess">
                                    <div class="services-carousel owl-carousel owl-theme">
                                        <div class="slide-item">
                                            <div class="images">
                                                <img src="~/assets_Audi/images/Audiimg/1.png" />
                                            </div>
                                        </div>

                                        <div class="slide-item">
                                            <div class="images">
                                                <img src="~/assets_Audi/images/Audiimg/11.png" />
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="ItemDetails">
                                    <h1>Audi A1 Sportback</h1>
                                    <p>35 TFSI S tronic</p>
                                    <h2>$46,990.00</h2>
                                    <div class="LocationDistination">
                                        <div class="DistnItem">
                                            <div class="icon">
                                                <span><i class="bx bx-map"></i></span>
                                            </div>
                                            <div class="DitinaDetails">
                                                <p>3 km - Dealer <br /> Audi Centre Cairns</p>
                                            </div>

                                        </div>
                                        <div class="DistnItem">
                                            <div class="icon">
                                                <img src="~/assets_Audi/images/Audiimg/CarImgs/speedo.svg" />
                                            </div>
                                            <div class="DitinaDetails">
                                                <p>
                                                    2,803 km
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="LinaktElItem">
                                        <ul>
                                            <li>
                                                <a href="#">Explore vehicle</a>
                                            </li>
                                            <li>
                                                <a class="DarkBG" href="#">
                                                    Order now
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="FavCompair">
                                        <ul>
                                            <li>
                                                <a href="#" class="FavCOmItem">
                                                    <div class="icon">
                                                        <span><i class="bx bx-star"></i></span>
                                                    </div>
                                                    <div class="favdisc">
                                                        <p>Add to favourites</p>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="FavCOmItem">
                                                    <div class="icon">
                                                        <span><i class="bx bx-git-compare"></i></span>
                                                    </div>
                                                    <div class="favdisc">
                                                        <p>Add to comparison</p>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="ResultItem">
                            <div class="ResutContItem">
                                <div class="Imagess">
                                    <div class="services-carousel owl-carousel owl-theme">
                                        <div class="slide-item">
                                            <div class="images">
                                                <img src="~/assets_Audi/images/Audiimg/1.png" />
                                            </div>
                                        </div>

                                        <div class="slide-item">
                                            <div class="images">
                                                <img src="~/assets_Audi/images/Audiimg/11.png" />
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="ItemDetails">
                                    <h1>Audi A1 Sportback</h1>
                                    <p>35 TFSI S tronic</p>
                                    <h2>$46,990.00</h2>
                                    <div class="LocationDistination">
                                        <div class="DistnItem">
                                            <div class="icon">
                                                <span><i class="bx bx-map"></i></span>
                                            </div>
                                            <div class="DitinaDetails">
                                                <p>3 km - Dealer <br /> Audi Centre Cairns</p>
                                            </div>

                                        </div>
                                        <div class="DistnItem">
                                            <div class="icon">
                                                <img src="~/assets_Audi/images/Audiimg/CarImgs/speedo.svg" />
                                            </div>
                                            <div class="DitinaDetails">
                                                <p>
                                                    2,803 km
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="LinaktElItem">
                                        <ul>
                                            <li>
                                                <a href="#">Explore vehicle</a>
                                            </li>
                                            <li>
                                                <a class="DarkBG" href="#">
                                                    Order now
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="FavCompair">
                                        <ul>
                                            <li>
                                                <a href="#" class="FavCOmItem">
                                                    <div class="icon">
                                                        <span><i class="bx bx-star"></i></span>
                                                    </div>
                                                    <div class="favdisc">
                                                        <p>Add to favourites</p>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="FavCOmItem">
                                                    <div class="icon">
                                                        <span><i class="bx bx-git-compare"></i></span>
                                                    </div>
                                                    <div class="favdisc">
                                                        <p>Add to comparison</p>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>













@section EndBody {


}




