
@{
    ViewBag.Title = "Form1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section EndHeader{
    <style>
        .DemonstratorTop {
            display: none;
        }
        .otherheader {
            display: none;
        }
    </style>
    }

<!--start our box-->
<!--start login head-->
<div class="login-head">
    <div class="container">
        <div class="login-links">
            <a href="#" class="enquiry-link active">make an Enquiry</a>
            <a href="#" class="enquiry-link">order your audi</a>
        </div>
    </div>
</div>
<!--end login head-->
<!--start login form-->
<div class="login-form">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <form class="log-in" method="post">
                    <div class="username-filed">
                        <label for="#user-name">first name*</label>
                        <input type="text" id="user-name" required="required"><br>
                        <span class="filed-warnning">please enter your first name</span>
                    </div>
                    <div class="lastname-filed">
                        <label for="#last-name">last name*</label>
                        <input type="text" id="last-name" required="required"><br>
                        <span class="filed-warnning">please enter your last name</span>
                    </div>
                    <div class="email-filed">
                        <label for="#mail">email*</label>
                        <input type="email" id="mail" required="required"><br>
                        <span class="filed-warnning">please enter your email</span>
                    </div>
                    <div class="mobile-filed">
                        <label for="#phone">mobile number*</label>
                        <input type="text" id="phone" required="required"><br>
                        <span class="filed-warnning">please enter a valid mobile number</span>
                    </div>
                    <div class="postcode-filed">
                        <label for="#post">postcode*</label>
                        <input type="text" id="post" required="required"><br>
                        <span class="filed-warnning">please enter a valid postcode</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--enquiery detailes-->
    <div class="enquiery-detailes">
        <div class="container">
            <h3>Enquiry details</h3>
            <p>stock ID:<span>774779</span></p>
            <p>model:<span>Audi A6 Sedan (pre-owned)</span></p>
            <p>Mileage:<span>2,000km</span></p>
            <p>delar:<span>Audi Sutherland</span></p>
        </div>
    </div>
    <!--end enquiery detailes-->
    <div class="audi-submit">
        <div class="container">
            <input type="checkbox" id="audi-check">
            <label for="checkbox">I'm happy for Audi Australia to update me with occasional emails on products, offers, news and events.</label>
            <div class="sub-btn">
                <button id="form-submit" type="submit">Submit <i class="fa fa-angle-right"></i></button>
            </div>
            <p>Audi Australia may collect, hold and use your personal information for a range of purposes, including any purpose identified or inferred at the time of collection, including for marketing to you, identifying you and any Audi vehicle you own, to offer you services, marketing materials, lifestyle content or other offers. You are not required to provide your personal information, or your real name. However, if you choose not to provide us with your personal information or your real name, we may not be able to fulfil the purpose(s) described above. For full details, see our<a href="#">Privacy Policy</a>.</p>
        </div>
    </div>
</div>
<!--end login form-->
<!--end our box-->

@section EndBody{

<script>
    $(document).ready(function () {
        $('#user-name').focus(function () {
            $('.username-filed label').css({
                top: '-10px',
                color: '#bb0a30',
                fontSize: '11px',
            })
        });
        $('#user-name').blur(function () {
            if ($(this).val() == '') {
                $('.username-filed label').css({
                    top: '15px',
                    color: '#bb0a30',
                    fontSize: '15px',
                })
                $('.username-filed span').css({
                    display: 'block',
                    color: '#bb0a30',
                })
            }
            else {
                $('.username-filed label').css({
                    top: '-10px',
                    color: 'black',
                    fontSize: '12px',
                })
                $('.username-filed span').css({
                    display: 'none',
                })
            }
        });
    });
    /*end first name*/
    /*start last name*/
    $(document).ready(function () {
        $('#last-name').focus(function () {
            $('.lastname-filed label').css({
                top: '-10px',
                color: '#bb0a30',
                fontSize: '11px',
            })
        });
        $('#last-name').blur(function () {
            if ($(this).val() == '') {
                $('.lastname-filed label').css({
                    top: '15px',
                    color: '#bb0a30',
                    fontSize: '15px',
                })
                $('.lastname-filed span').css({
                    display: 'block',
                    color: '#bb0a30',
                })
            }
            else {
                $('.lastname-filed label').css({
                    top: '-10px',
                    color: 'black',
                    fontSize: '12px',
                })
                $('.lastname-filed span').css({
                    display: 'none',
                })
            }
        });
    });
    /*end last name*/
    /*start email name*/
    $(document).ready(function () {
        $('#mail').focus(function () {
            $('.email-filed label').css({
                top: '-10px',
                color: '#bb0a30',
                fontSize: '11px',
            })
        });
        $('#mail').blur(function () {
            if ($(this).val() == '') {
                $('.email-filed label').css({
                    top: '15px',
                    color: '#bb0a30',
                    fontSize: '15px',
                })
                $('.email-filed span').css({
                    display: 'block',
                    color: '#bb0a30',
                })
            }
            else {
                $('.email-filed label').css({
                    top: '-10px',
                    color: 'black',
                    fontSize: '12px',
                })
                $('.email-filed span').css({
                    display: 'none',
                })
            }
        });
    });
    /*end email*/
    /*start mobile number*/
    $(document).ready(function () {
        $('#phone').focus(function () {
            $('.mobile-filed label').css({
                top: '-10px',
                color: '#bb0a30',
                fontSize: '11px',
            })
        });
        $('#phone').blur(function () {
            if ($(this).val() == '') {
                $('.mobile-filed label').css({
                    top: '15px',
                    color: '#bb0a30',
                    fontSize: '15px',
                })
                $('.mobile-filed span').css({
                    display: 'block',
                    color: '#bb0a30',
                })
            }
            else {
                $('.mobile-filed label').css({
                    top: '-10px',
                    color: 'black',
                    fontSize: '12px',
                })
                $('.mobile-filed span').css({
                    display: 'none',
                })
            }
        });
    });
    /*end mobile*/
    /*start mobile number*/
    $(document).ready(function () {
        $('#post').focus(function () {
            $('.postcode-filed label').css({
                top: '-10px',
                color: '#bb0a30',
                fontSize: '11px',
            })
        });
        $('#post').blur(function () {
            if ($(this).val() == '') {
                $('.postcode-filed label').css({
                    top: '15px',
                    color: '#bb0a30',
                    fontSize: '15px',
                })
                $('.postcode-filed span').css({
                    display: 'block',
                    color: '#bb0a30',
                })
            }
            else {
                $('.postcode-filed label').css({
                    top: '-10px',
                    color: 'black',
                    fontSize: '12px',
                })
                $('.postcode-filed span').css({
                    display: 'none',
                })
            }
        });
    });
    </script>

}


