
@{
    ViewBag.Title = "ThanksPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section EndHeader{
    
    <style>
        .otherheader {
            display: none;
        }
        .DemonstratorTop {
            display: none;
        }
    </style>
    }
<div class="ThankingPage">
    <div class="container">
        <div class="ThankinContent">
            <div class="AlertThank">
                <p>Thank You..., Your Enquiry Request Is Submited Successfuly</p>
            </div>

            <a href="/Home" class="GotoHome">Go Home</a>
        </div>
    </div>

</div>